.facet {
    margin-bottom: 10px;
    width: 300px;
    transition: all 0.3s ease;
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    border: none;
    overflow: hidden;
    /* transition: max-height 0.3s ease-in-out; */
}

.facet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facet p {
    margin: 0;
    padding: 0;
}

.facet-name {
    /* ... existing styles ... */
    background-color: #333;
    /* Give it a button-like color */
    color: white;
    padding: 10px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

.facet-name::after {
    content: '>';
    /* Change this to your arrow character */
    color: white;
    font-size: 1.5em;
    /* Adjust the size as necessary */
    transition: transform 0.3s ease;
    /* Smooth transition for rotation */
}

.facet-name:hover {
    background-color: #444;
    /* Slightly darker on hover */
}

.facet .facet-name::hover {
    background-color: #f5f5f5;
}


.facet .facet-name::after {
    content: '';
    display: inline-block;
    margin-left: 7px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    right: 10px;
    -webkit-transform: rotate(45deg);
}

.collapsed .facet-name::after {
    transform: rotate(90deg);
}

.facet.collapsed {
    max-height: 40px;
}

.facet.collapsed .facet-name::after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.function-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    /* Adjust spacing between buttons */
    /* margin-top: 10px; */
    margin-right: 5px;
    margin-bottom: 5px;
}

.function-button {
    background-color: #4CAF50;
    margin-bottom: 5px;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.function-button:hover {
    background-color: #45a049;
}

.facet-inspector-wrapper {
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
    padding: 20px;
    /* width: 100%; */
    /* height: 100%; */
    /* Adding border */
    border: 1px solid #ddd;
}


.facet-inspector-container {
    flex: 1;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    /* Adjust the space between the components */
}

.function-caller-container {
    /* padding-top: 20px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    width: 810px;
    align-items: center;
    /* Adjust the space between the components */
}

.inspection-results,
.function-caller-container {
    flex: 1;
}

/* Ensure the content doesn't get too narrow on smaller screens */
@media (max-width: 768px) {
    .facet-inspector-container {
        flex-direction: column;
    }
}

.copy-icon {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    /* Smooth transition for color change */
}

.copy-icon:hover {
    color: #4CAF50;
    /* Change color on hover */
}

.copy-icon.copied {
    color: #4CAF50;
    /* Change color when copied */
}

/* Tooltip styling */
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width value */
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.copy-icon:hover .tooltip {
    visibility: visible;
}